@import "tailwindcss";

#bottom {
  background: linear-gradient(transparent, black);
}
* {
  font-family: "helvetica neue";
}

:root {
  --c1: rgb(0, 0, 0);
  --c2: rgb(61, 0, 0);
  --c3: rgb(149, 1, 1);
  --c4: rgb(238, 238, 238);
}


